#embedded_messenger {
  position: fixed;
  z-index: 1000;
  bottom: -400px;
  right: 2rem;
  height: 434px;
  width: 310px;
  transition: 0.3s ease-in-out bottom;
  font-family: "helvetica", sans-serif;
  box-shadow: 0 1px 4px rgba(116, 108, 108, 0.3);
  border-radius: 8px 8px 0px 0px;
}
#embedded_messenger.active {
  bottom: 0;
}
#embedded_messenger iframe {
  height: 400px;
  width: 100%;
  border: 0;
}
#embedded_messenger #message_header {
  background: #003d79;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 8px 8px 0px 0px;
  color: #fff;
  cursor: pointer;
}

#embedded_messenger #message_header:hover {
  background: rgb(17, 82, 148);
}